{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://facebook.com/jerusalembm" target="_blank"  class="text-danger me-5"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
        <li><a href="https://instagram.com/jerusalem_bmm" target="_blank"  class="text-danger me-5"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="https://twitter.com/eyerusalem_bm" target="_blank"  class="text-danger me-5"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p class="text-center  text-black">&copy;2022 Astra All Rights Reserved.</p>
        </div>
    </div>
    </div>
</footer>
